/tmp/*
!/tmp/.keep

# *.log
/public/

# Ignore bundler config.
/.bundle

config/initializers/sidekiq.rb

# Ignore bundler gems.
vendor/bundle
vendor/bundler

# Ignore the default SQLite database.
 /db/*.sqlite3
 /db/*.sqlite3-journal

development.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
# /tmp

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret
/db/development.sqlite3

db/development.sqlite3
development.sqlite3

.env

auto_contact/config
auto_contact/screenshots

node_modules
/vendor/bundle
.env
config/smart-edee0-firebase-adminsdk-m74sr-92f564d81e.json

#Python venv files

./autoform/autoform
autoform/venv/
autoform/__pycache__/
*.pyc
extract_company_info/.venv/
extract_company_info/venv/
extract_company_info/__pycache__/
extract_company_info/tests/evaluation_tests/results
extract_company_info/logs/

# Python全般
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
venvs/
ENV/
env/db/development.sqlite3

# Rails logs
/log/*
!/log/.keep

# Rails tmp
/tmp/*
!/tmp/.keep