title 顧客管理システム
meta charset="utf-8"
meta http-equiv="X-UA-Compatible" content="IE=edge"
meta name="viewport" content="width=device-width, shrink-to-fit=no"
meta content="NOYDIR" name="ROBOTS"
meta content="NOODP" name="ROBOTS"
link media="handheld" rel="alternate"
= csrf_meta_tags
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
= display_meta_tags(default_meta_tags)
= favicon_link_tag('favicon.ico')
= yield :javascript