<%= @recruit.name %> さんが雇用契約に同意しました。

以下編集。

以下にアクセスし、音声内容を確認の上、採択可否の通知を行なってください。

https://tcare.pro/recruits/#{@recruit.id}
<a href="http://tcare.pro/recruits/<%= @recruit.id %>"><%= @recruit.name %>の採択可否を行う</a>
